/* ===================================================
component: header-nav
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-header-nav"] {
  overflow: hidden;
  flex: 1 0 100%;

  .header-nav__menu-header-info {
    @include hidden-structure-info();
  }

  .header-nav__menu-list {
    display: none;

    &.is-open {
      //display: block;
      //position: fixed;
      //left: 0;
      //right: 0;
      //top: 75px;
      //bottom: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      text-align: center;
      background-color: $color-grey-1;
    }
  }

  .header-nav__menu-list-item {
    padding: 2rem 0;
  }

  .header-nav__menu-list-item-a {
    text-decoration: none;
    color: $color-blue-txt;

    &:hover, &:focus {
      color: $color-black;
    }
  }

  @include bp($bp-tablet-l) {
    justify-content: flex-end;
    flex: 1;

    .header-nav__menu-list {
      display: block;
      float: right;
      overflow: hidden;
    }

    .header-nav__menu-list-item {
      display: inline;
      padding-right: 1rem;
    }
  }
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-header-nav--default {
}