---
title: Build Better Prototypes with Veams
menuLink: Components
sortOrder: 02
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<h3>Place your components here!</h3>


{{#with header-bp}}
	{{> c-header}}
{{/with}}


{{#with logo-bp}}
	{{> c-logo}}
{{/with}}


{{#with header-nav-bp}}
	{{> c-header-nav}}
{{/with}}


{{#with mobile-icon-bp}}
	{{> c-mobile-icon}}
{{/with}}


{{#with footer-bp}}
	{{> c-footer}}
{{/with}}


{{#with creator-bp}}
	{{> c-creator}}
{{/with}}


{{#with showcase-main-bp}}
	{{> c-showcase-main}}
{{/with}}


{{#with picture-bp.variations.default}}
	{{> c-picture}}
{{/with}}

		{{! @INSERTPOINT :: @ref: component-partial }}
	{{/content}}
{{/extend}}
