/* ===================================================
component: footer
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-footer"] {
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  height: 7rem;
  box-shadow: 0 -0.2rem 2rem $color-blue-lighten;
  bottom: 0;
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-footer--default {
}