---
type: component
contextData: "logo-bp"
layout: "lyt-docs"
publish: false
---


<div class="c-logo{{#if settings.logoContextClass}}--{{settings.logoContextClass}}{{else}}--default{{/if}}{{#if settings.logoClasses}} {{settings.logoClasses}}{{/if}}"
     data-css="c-logo">
    <div class="logo__icon"></div>
     <div class="logo__name">{{content.logo.name}}</div>
</div>
