/* ===================================================
component: header
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-header"] {
  background-color: $color-grey-1;
  padding: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include bp($bp-tablet-l) {
    background: $color-grey-2;
  }

  @include bp($bp-desktop-l) {
    background: $color-grey-3;
  }
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-header--default {
}