/* ===================================================
component: logo
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-logo"] {
  width: 60%;
  overflow: hidden;
  flex: 1;

  .logo__a {
    display: flex;
    text-decoration: none;

    .logo__a-icon {
      &::before {
        content: '🌏';
        animation: rotation 2s infinite linear;
        display: flex;
        position: relative;
        width: 20px;
        height: 20px;
      }
      &:hover {
        &::before {
          animation-play-state: paused;
        }
      }
    }

    .logo__a-name {
      padding-left: 0.5rem;
      font-size: 110%;
      line-height: 1.2;
      color: $color-black;
    }
  }

}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-logo--default {
}