/* ===================================================
component: mobile-icon
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-mobile-icon"] {
  float: right;
  overflow: hidden;
  padding: 0;

  .mobile-icon__button {
    background-color: transparent;
    border: 0;

    &:hover, &:focus {
      background-color: transparent;
      outline: none;
      -webkit-box-shadow: $color-white;
      -moz-box-shadow: $color-white;
      border-color: $color-white;
    }


  }

  .mobile-icon__button-line {
    display: block;
    background-color: $color-black;
    width: 25px;
    height: 2px;
    margin-top: 5px;

    &:first-child {
      margin-top: 2px;
    }
  }

  .mobile-icon__button-info {
    @include hidden-structure-info();
  }

  @include bp($bp-tablet-l) {
    .mobile-icon__button {
      display: none;
    }
  }
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-mobile-icon--default {
}