---
type: component
contextData: "header-nav-bp"
layout: "lyt-docs"
publish: false
---


<div class="c-header-nav{{#if settings.headerNavContextClass}}--{{settings.headerNavContextClass}}{{else}}--default{{/if}}{{#if settings.headerNavClasses}} {{settings.headerNavClasses}}{{/if}}"
     data-css="c-header-nav">
    <nav class="header-nav__menu">
        <h2 class="header-nav__menu-header-info">{{content.header.info}}</h2>
        <ul class="header-nav__menu-list" data-js-item="header-nav-list">
                {{#each content.items}}
                    {{> c-header-nav-partials }}
                {{/each}}
        </ul>
    </nav>
</div>
