/* ===================================================
Main File For Imports
=================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===================================================
FONT BASE SIZE
=================================================== */
html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

/* ---------------------------------------------------
Animations
--------------------------------------------------- */
/* ===================================================
VEAMS SETTINGS
=================================================== */
/* ===================================================
BOURBON NEAT SETTINGS
=================================================== */
/* ===================================================
BREAKPOINT SETTINGS
=================================================== */
/* ===================================================
CENTERING MIXIN
=================================================== */
/* ===================================================
Clearfix
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
FLOAT MIXIN
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
Hiding Elements
=================================================== */
/* ---------------------------------------------------
ir
--------------------------------------------------- */
/* ---------------------------------------------------
Hidden
--------------------------------------------------- */
/* ---------------------------------------------------
Visually hidden
--------------------------------------------------- */
/* ---------------------------------------------------
Visibility hidden
--------------------------------------------------- */
/* ---------------------------------------------------
Hide text
--------------------------------------------------- */
/* ===================================================
Inline Block Layouts
=================================================== */
/* ---------------------------------------------------
Mixin
--------------------------------------------------- */
/* ---------------------------------------------------
Extend
--------------------------------------------------- */
/* ===================================================
OMEGA RESET

	- used for Bourbon Neat
=================================================== */
/* ===================================================
Pseudo Element
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
Reset Button
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
ARROW EFFECT
=================================================== */
/* ===================================================
BASE
=================================================== */
/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.4; }

.js-logger {
  position: fixed;
  right: 20px;
  bottom: 20px;
  left: 20px;
  color: #fff;
  height: calc(100% / 6);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  font-size: 14px;
  overflow-y: auto;
  z-index: 9999;
  border-radius: 10px;
  border: 10px solid red; }

head {
  font-family: desktop; }
  @media only screen and (min-width: 1024px) {
    head {
      font-family: tablet-l; } }
  @media only screen and (min-width: 768px) {
    head {
      font-family: tablet-p; } }
  @media only screen and (min-width: 657px) {
    head {
      font-family: mobile-l; } }
  @media only screen and (min-width: 480px) {
    head {
      font-family: mobile-p; } }
  @media only screen and (min-width: 360px) {
    head {
      font-family: mobile-s; } }

/* ===================================================
component: header
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-header"] {
  background: #dcdcdc;
  padding: 2.5rem;
  overflow: hidden; }
  [data-css="c-header"] .logo-name {
    width: 60%;
    float: left; }
  [data-css="c-header"] .menu__header-info {
    display: block;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden; }
  [data-css="c-header"] .menu__list {
    display: none; }
  [data-css="c-header"] .menu__mobile {
    float: right;
    position: relative;
    font-size: 0; }
    [data-css="c-header"] .menu__mobile::before, [data-css="c-header"] .menu__mobile::after {
      content: '';
      background-color: #333;
      width: 25px;
      height: 2px;
      position: absolute;
      right: 0;
      top: 5px; }
    [data-css="c-header"] .menu__mobile::after {
      top: 15px; }
  @media only screen and (min-width: 1024px) {
    [data-css="c-header"] {
      background: #c3c3c3; }
      [data-css="c-header"] .menu__list {
        display: block;
        float: right;
        overflow: hidden; }
      [data-css="c-header"] .menu__list__items {
        float: left;
        padding-right: 1rem; }
      [data-css="c-header"] .menu__mobile {
        display: none; } }
  @media only screen and (min-width: 1440px) {
    [data-css="c-header"] {
      background: #8b8b8b; } }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  /*
	* Don't show links for images, or javascript/internal links
	*/
  .ir a::after,
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: .5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */