@charset "UTF-8";
/* ===================================================
Main File For Imports
=================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===================================================
FONT BASE SIZE
=================================================== */
html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

/* ---------------------------------------------------
Animations
--------------------------------------------------- */
/* ===================================================
VEAMS SETTINGS
=================================================== */
/* ===================================================
BOURBON NEAT SETTINGS
=================================================== */
/* ===================================================
BREAKPOINT SETTINGS
=================================================== */
/* ===================================================
COLOR
=================================================== */
@keyframes rotation {
  100% {
    transform: rotate(1turn); } }

/* ===================================================
CENTERING MIXIN
=================================================== */
/* ===================================================
Clearfix
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
FLOAT MIXIN
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
Hiding Elements
=================================================== */
/* ---------------------------------------------------
ir
--------------------------------------------------- */
/* ---------------------------------------------------
Hidden
--------------------------------------------------- */
/* ---------------------------------------------------
Visually hidden
--------------------------------------------------- */
/* ---------------------------------------------------
Visibility hidden
--------------------------------------------------- */
/* ---------------------------------------------------
Hide text
--------------------------------------------------- */
/* ===================================================
Inline Block Layouts
=================================================== */
/* ---------------------------------------------------
Mixin
--------------------------------------------------- */
/* ---------------------------------------------------
Extend
--------------------------------------------------- */
/* ===================================================
OMEGA RESET

	- used for Bourbon Neat
=================================================== */
/* ===================================================
Pseudo Element
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
Reset Button
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
ARROW EFFECT
=================================================== */
/* ===================================================
BASE
=================================================== */
/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.4; }

.js-logger {
  position: fixed;
  right: 20px;
  bottom: 20px;
  left: 20px;
  color: #fff;
  height: calc(100% / 6);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  font-size: 14px;
  overflow-y: auto;
  z-index: 9999;
  border-radius: 10px;
  border: 10px solid red; }

head {
  font-family: desktop-l; }
  @media only screen and (min-width: 1024px) {
    head {
      font-family: tablet-l; } }
  @media only screen and (min-width: 768px) {
    head {
      font-family: tablet-p; } }
  @media only screen and (min-width: 320px) {
    head {
      font-family: mobile-s; } }

/* ===================================================
component: header
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-header"] {
  background-color: #F5F5F5;
  padding: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media only screen and (min-width: 1024px) {
    [data-css="c-header"] {
      background: #EEEEEE; } }
  @media only screen and (min-width: 1440px) {
    [data-css="c-header"] {
      background: #E0E0E0; } }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
component: logo
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-logo"] {
  width: 60%;
  overflow: hidden;
  flex: 1; }
  [data-css="c-logo"] .logo__a {
    display: flex;
    text-decoration: none; }
    [data-css="c-logo"] .logo__a .logo__a-icon::before {
      content: '🌏';
      animation: rotation 2s infinite linear;
      display: flex;
      position: relative;
      width: 20px;
      height: 20px; }
    [data-css="c-logo"] .logo__a .logo__a-icon:hover::before {
      animation-play-state: paused; }
    [data-css="c-logo"] .logo__a .logo__a-name {
      padding-left: 0.5rem;
      font-size: 110%;
      line-height: 1.2;
      color: #000; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
component: header-nav
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-header-nav"] {
  overflow: hidden;
  flex: 1 0 100%; }
  [data-css="c-header-nav"] .header-nav__menu-header-info {
    display: block;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden; }
  [data-css="c-header-nav"] .header-nav__menu-list {
    display: none; }
    [data-css="c-header-nav"] .header-nav__menu-list.is-open {
      display: flex;
      flex-direction: column;
      height: 100vh;
      text-align: center;
      background-color: #F5F5F5; }
  [data-css="c-header-nav"] .header-nav__menu-list-item {
    padding: 2rem 0; }
  [data-css="c-header-nav"] .header-nav__menu-list-item-a {
    text-decoration: none;
    color: #1390D8; }
    [data-css="c-header-nav"] .header-nav__menu-list-item-a:hover, [data-css="c-header-nav"] .header-nav__menu-list-item-a:focus {
      color: #000; }
  @media only screen and (min-width: 1024px) {
    [data-css="c-header-nav"] {
      justify-content: flex-end;
      flex: 1; }
      [data-css="c-header-nav"] .header-nav__menu-list {
        display: block;
        float: right;
        overflow: hidden; }
      [data-css="c-header-nav"] .header-nav__menu-list-item {
        display: inline;
        padding-right: 1rem; } }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
component: mobile-icon
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-mobile-icon"] {
  overflow: hidden;
  padding: 0;
  height: 22px;
  justify-content: flex-end; }
  [data-css="c-mobile-icon"] .mobile-icon__button {
    background-color: transparent;
    border: 0;
    height: 22px;
    width: 26px;
    padding: 0; }
    [data-css="c-mobile-icon"] .mobile-icon__button:hover, [data-css="c-mobile-icon"] .mobile-icon__button:focus {
      background-color: transparent;
      outline: none;
      border-color: #fff; }
    [data-css="c-mobile-icon"] .mobile-icon__button.is-open .mobile-icon__button-line {
      position: relative;
      background-color: #000;
      height: 2px; }
      [data-css="c-mobile-icon"] .mobile-icon__button.is-open .mobile-icon__button-line:nth-child(1) {
        top: 2px;
        transform: rotate(-46deg);
        border-radius: 0; }
      [data-css="c-mobile-icon"] .mobile-icon__button.is-open .mobile-icon__button-line:nth-child(2) {
        opacity: 0;
        left: -20px;
        border-radius: 0; }
      [data-css="c-mobile-icon"] .mobile-icon__button.is-open .mobile-icon__button-line:nth-child(3) {
        top: -2px;
        transform: rotate(46deg);
        border-radius: 0; }
  [data-css="c-mobile-icon"] .mobile-icon__button-line {
    display: block;
    position: relative;
    width: 25px;
    height: 3px;
    transition: 0.28s cubic-bezier(0.65, 0.05, 0.36, 1); }
    [data-css="c-mobile-icon"] .mobile-icon__button-line:nth-child(1) {
      top: -5px;
      background-color: #DB6E00;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px; }
    [data-css="c-mobile-icon"] .mobile-icon__button-line:nth-child(2) {
      left: 0;
      background-color: #8A7051;
      border-radius: 30%; }
    [data-css="c-mobile-icon"] .mobile-icon__button-line:nth-child(3) {
      top: 5px;
      background-color: #DB6E00;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px; }
  [data-css="c-mobile-icon"] .mobile-icon__button-info {
    display: block;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden; }
  @media only screen and (min-width: 1024px) {
    [data-css="c-mobile-icon"] {
      display: none; } }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  /*
	* Don't show links for images, or javascript/internal links
	*/
  .ir a::after,
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: .5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */