---
type: component
contextData: "header-bp"
layout: "lyt-docs"
publish: false
---


<div class="c-header{{#if settings.headerContextClass}}--{{settings.headerContextClass}}{{else}}--default{{/if}}{{#if settings.headerClasses}} {{settings.headerClasses}}{{/if}}"
     data-css="c-header">
    {{>c-logo}}
    {{>c-header-nav}}
    {{>c-mobile-icon}}
</div>
