---
type: component
contextData: "header-bp"
layout: "lyt-docs"
publish: false
---


<div class="c-header{{#if settings.headerContextClass}}--{{settings.headerContextClass}}{{else}}--default{{/if}}{{#if settings.headerClasses}} {{settings.headerClasses}}{{/if}}"
     data-css="c-header">
    <div class="logo-name">Logo name</div>
     <nav class="menu">
         <h2 class="menu__header-info">Navigation</h2>
         <ul class="menu__list">
             <li class="menu__list__items">
                 <a href="#" class="menu__list_items__anchor">link</a>
             </li>
             <li class="menu__list__items">
                 <a href="#" class="menu__list_items__anchor">link</a>
             </li>
         </ul>
         <a href="#" class="menu__mobile">Menu</a>
     </nav>
</div>
