---
type: component
contextData: "mobile-icon-bp"
layout: "lyt-docs"
publish: false
---


<div class="c-mobile-icon{{#if settings.mobileIconContextClass}}--{{settings.mobileIconContextClass}}{{else}}--default{{/if}}{{#if settings.mobileIconClasses}} {{settings.mobileIconClasses}}{{/if}}"
     data-css="c-mobile-icon">
    <button class="mobile-icon__button" data-js-item="mobile-button">
        <span class="mobile-icon__button-line"></span>
        <span class="mobile-icon__button-line"></span>
        <span class="mobile-icon__button-line"></span>
        <span class="mobile-icon__button-info">{{content.info.text}}</span>
    </button>
     
</div>
